body {
    background-color: palevioletred;
  }
  
  .logo {
    position: relative;
    border-image-width: 50%;
  }
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-direction: row;
    background-color: purple;
    display: flex;
    text-align: left;
    box-shadow: 0px 0px 10px purple;
  }
  li a {
    display: block;
    padding: 14px 16px;
    background-color: rgb(208, 87, 239);
    text-decoration: none;
    color: black;
  }
  li a:hover {
    background-color: #111;
    color: white;
  }