h1 {
    color:rgb(24, 185, 131);
    font-size:large;
    background-color: aqua;
    font-family: 'times new roman',times,serif;
    height: 100px;
    width:500px;
    
}

#p1 {
font-size: 69px;
background-color: rgb(70, 138, 198);
font-family: fantasy;

}

#p2 {
    font-size:30px;

}

